:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --background-color: #2f303a;
  --bgc-secondary-color: #f5f4fa;
}

body {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* Точки списка, линки */
.list {
  list-style: none;
}

[href] {
  text-decoration: none;
}

/* Хедер*/
.header {
  background-color: var(--primary-white-color);
}

/* Логотип */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: var(--primary-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}

/* Навигация */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-link {
  color: var(--title-text-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Контакты*/

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-link {
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Секция герой */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Кнопка */

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

/* Секция преимущества */

.benefits {
  background-color: var(--primary-white-color);
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Секция род деятельности */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Секция команда */

.team {
  background-color: var(--bgc-secondary-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Футер */

.footer {
  background-color: var(--background-color);
}

.address {
  font-style: normal;
}

.adress-link {
  font-size: 14px;
  color: var(--primary-white-color);
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Cтили для страницы портфолио */

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .current:hover,
.site-nav .current:focus {
  color: var(--accent-color);
}

/* Кнопка */

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  color: var(--title-text-color);
  background-color: var(--bgc-secondary-color);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Секция портфолио */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
